.page.home {
    background: #0e1e25;

    position: relative;
    color: #00ad9f;
    
    .home-fragment {
        display: flex;
        height: 100vh;
        .computer {
            width: 650px;
            position: absolute;
            right: 20%;
            top: 400px;
            z-index: 99;
        }
        
        .top-right-rect {
            background-image: url("../../assets/rect2.png");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            width: 37%;
        }
    
        .rectangle {
            background-image: url("../../assets/rect.png");
            min-height: inherit;
            
            background-repeat: no-repeat;
            
            background-size: 100%;
            display: flex;
            
            color: white;
            width: 900px;
            position: relative;
            z-index: 1;
            justify-content: center;
    
            
            .content {
                width: 60%;
                justify-content: center;
                margin-top: 30%;
    
                p {
                    
                font-family: Poppins;
                }
                p,
                h2 {
                    z-index: 22;
                }
    
                div {
                    margin-top: 30px;
                    .signup {
                        margin: 0;
                    }
                }
            }
    
        }
    }

    .pricing-fragment {
        height: 100vh;
        h1 {
            text-align: center;
            margin-top: 25px;
            position: absolute;
            right: 0;
            left: 0;
            color: white;
        }
        .prices {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
            .price-box {
                margin: 50px;
                height: 550px;
                width: 400px;
                background: white;
                position: relative;

                border-radius: 4px;

                .bottom {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .button {
                        margin: 0;
                        width: 90%;
                        position: absolute;
                        text-align: center;
                        padding: 10px 0;
                    }
                }

                .title {
                    h2 {
                        color: #00ad9f;
                        font-size: 2.5em;
                        text-align: center;
                        font-weight: 100;
                        margin: 15px;
                    }
                }
                .description {
                    ul {
                        padding: 0 50px;
                        margin: 0;
                        margin-top: 15px;
                        li {
                            padding: 15px;
                            font-family: Poppins;
                        }
                        margin-bottom: 15px;
                    }
                }

                .price {
                    margin: 0 auto;
                    text-align: center;
                    height: max-content;
                }

                &.pro {
                    // height: 600px;
                    // width: 450px;
                    background: #00ad9f;
                    color: white;
                    .divider {
                        border-bottom: 1px solid #e4eaec59;
                    }

                    .title {
                        h2 {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}