.navbar-container {
    width: 100%;
    position: absolute;
    color: white;
    z-index: 12;

    .navbar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 80%;
        height: 80px;
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            color: white;
            display: inline-flex;

            li {
                margin-top: 10px;
                a {
                    text-decoration: none;
                    margin: 15px;
                    color: white;
                    font-size: 1em;
                    font-family: Poppins;
                }
            }

        }

        h1 {
            margin: 0;
            font-size: 2.5em;
            
            margin-right: 35px;
            left: 30px;
        }

        .right {
            float: right;
            right: 30px;
            position: absolute;
        }
    }
}