.navbar-container {
    width: 100%;
    position: absolute;
    color: white;
    z-index: 12;

    .logo {
        font-weight: 300;
    }

    .navbar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 80%;
        height: 80px;
        position: relative;

        h1 {
            margin: 0;
            font-size: 2.5em;
            left: 30px;
        }

        .right {
            float: right;
            right: 30px;
            position: absolute;
        }
    }
}