.navbar-container {
    width: 100%;
    position: absolute;
    color: white;
    z-index: 12;

    img {
        width: 65px;
        margin-right: 25px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    
        text-decoration: none;
        color: white;
    }

    @media screen and(max-width: 500px) {
        img {
            width: 50px;
        }
        .logo {
            font-size: 1.8em!important;
        }
    }

    @media screen and(max-width: 350px) {
        img {
            width: 35px;
        }
        .logo {
            font-size: 1.5em!important;
        }
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(14, 30, 37, .9);
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            flex-direction: column;
            li {
                font-size: 3em;
            }
        }
        .button {
            // position: relative;
            font-size: 22px!important;
            margin: 5px;
            display: block!important;
        }
    }

    @media screen and (max-width: 900px) {
        .menu-button {
            display: block !important;
        }

        .navbar {
            width: 90% !important;
        }

        .right {
            right: 0 !important;
        }

        .button {
            display: none;
        }

        .navbar {

            ul {
                display: none !important;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        color: white;
        display: inline-flex;

        li {
            margin-top: 10px;

            a {
                text-decoration: none;
                margin: 15px;
                color: white;
                font-size: 1em;
                font-family: Poppins;
            }
        }

    }

    .navbar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 80%;
        height: 80px;
        position: relative;

        .menu-button {
            display: none;
        }

        h1 {
            margin: 0;
            font-size: 2.5em;

            margin-right: 35px;
            left: 30px;
        }

        .right {
            float: right;
            right: 30px;
            position: absolute;
        }
    }
}